#ingore files
composer.phar
/board_remaster/
/board/app/bootstrap.php.cache
/board/app/cache/*
!/board/app/cache/.gitkeep
/board/app/config/parameters.yml
/board/app/logs/*
!/board/app/logs/.gitkeep
/board/app/sessions/*
!/board/app/sessions/.gitkeep
/board/app/phpunit.xml
/board/bin/
/board/composer.phar
/board/vendor/
/board/web/bundles/

/passbook/app/bootstrap.php.cache
/passbook/app/cache/*
!/passbook/app/cache/.gitkeep
/passbook/app/config/parameters.yml
/passbook/app/logs/*
!/passbook/app/logs/.gitkeep
/passbook/app/sessions/*
!/passbook/app/sessions/.gitkeep
/passbook/app/phpunit.xml
/passbook/bin/
/passbook/composer.phar
/passbook/vendor/
/passbook/web/bundles/

