{% extends 'ScottPassbookBundle:Default:base.html.twig' %}

{% block body %}

    {{ dump(account) }}
    {{ dump(record) }}
    {{ dump(request) }}

    <a href="{{ path('logout') }}">Log Out</a>
{% endblock %}