{% extends 'ScottPassbookBundle:Default:base.html.twig' %}

{% block body %}
    <form name="form" method="post" action="{{ path('signup_check') }}">
        <div id="form">
            <div>
                <label for="form_email" class="required">Email</label>
                <input
                    type="email"
                    id="form_email"
                    name="form[email]"
                    required="required"
                    maxlength="40"
                />
            </div>
            <div>
                <label for="form_password_first" class="required">Password</label>
                <input
                    type="password"
                    id="form_password_first"
                    name="form[password][first]"
                    required="required"
                    class="password-field"
                    maxlength="16"
                />
            </div>
            <div>
                <label for="form_password_second" class="required">Repeat Password</label>
                <input
                    type="password"
                    id="form_password_second"
                    name="form[password][second]"
                    required="required"
                    class="password-field"
                    maxlength="16"
                />
            </div>
            <div>
                <label for="form_currency" class="required">Currency</label>
                <select id="form_currency" name="form[currency]">
                    <option value="NTD" >NTD</option>
                    <option value="USD" >USD</option>
                    <option value="JPY" >JPY</option>
                    <option value="EUR" >EUR</option>
                </select>
            </div>
            <div>
                <button type="submit" id="form_signup" name="form[signup]">Sign up</button>
            </div>
        </div>
    </form>

    <a href="{{ path('login') }}"><h3>Log in</h3></a>
{% endblock %}