{% block form %}
<div name="new_form">
        <form action="/message/add">
            {% if table == 'message' %}
                <h2><strong>Leave new message here: </strong></h2>
            {% elseif table == 'reply' %}
                <h4><strong>Reply to this message: </strong></h4>
                <input type="hidden" name="id" value="{{ id }}" />
            {% endif %}

            Message: <input type="text" name="msg" placeholder="commit here" size="50"/><br>
            Name: <input type="text" name="name" placeholder="User Name" /><br>
            <input type="hidden" name="table" value="{{ table }}" />
            <input type="submit" name="button" value="submit" /><br>
        </form>
        <br>---------------------------------------------------------<br>
</div>
{% endblock %}