{% extends 'base.html.twig' %}

{% block body %}
    <div name="error">
        <h2><strong>Sorry, the page you are looking for is no longer available.</strong></h2>
    </div>
    <script>window.alert('Redirect to the main page')
                location.href="{{ path('show') }}";</script>
{% endblock %}