{% block form %}
<div name="new_form">
    {% if table == 'message' %}
        <form action="{{ path('add') }}" method="POST">
            <h2><strong>Leave new message here: </strong></h2>
    {% elseif table == 'reply' %}
        <form action="{{ path('reply_add') }}" method="POST">
            <h4><strong>Reply to this message: </strong></h4>
            <input type="hidden" name="id" value="{{ id }}" />
    {% endif %}

    Message: 
        <input
            type="text"
            name="msg"
            placeholder="commit here"
            size="50"
            maxlength="200"
            pattern="[^ ].*"
            title="No white space at beginning!"
            required
        />
    <br>
    Name: 
        <input
            type="text"
            name="name"
            placeholder="User Name"
            maxlength="20"
            pattern="[^ ].*"
            title="No white space at beginning!"
            required
        />
    <br>
    <input type="submit" name="button" value="submit" /><br>
    </form>
    <br>---------------------------------------------------------<br>
</div>
{% endblock %}